<!DOCTYPE html>
<html lang="en">
    <head><title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
<style>
    .container {
   width: 305px;
   border: 1px solid beige;
   border-radius: 5px;
   padding: 10px;
   margin-top: 50px;
   margin: 0 auto;
  }
  .error{
      color:red;
  }
 </style>
 </head>
 <body>
   <div class="container">
   <h4>Your password has been reset!</h4>
  <P style="color:green">Thank you for resetting your password.</P>
  </div>
  </body>
  </html>