<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<!-- Popper for Bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>

<!-- Counter js  -->
<script src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/assets/plugins/counterup/jquery.counterup.min.js"></script>
<!--C3 Chart-->
<script type="text/javascript" src="/assets/plugins/d3/d3.min.js"></script>
<script type="text/javascript" src="/assets/plugins/c3/c3.min.js"></script>
<!--Echart Chart-->
<script src="/assets/plugins/echart/echarts-all.js"></script>
<!-- Dashboard init -->
<script src="/assets/pages/jquery.dashboard.js"></script>

<!--switchery-->
<script src="/assets/plugins/switchery/switchery.min.js"></script>
<script src="/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script>
<!-- file upload -->
<script src="/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>

<!-- Init Js file -->
<script type="text/javascript" src="/assets/pages/jquery.form-advanced.init.js"></script>


<!-- Required datatable js -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Buttons examples -->
<script src="/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables/jszip.min.js"></script>
<script src="/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="/assets/plugins/datatables/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

<!-- Date Picker -->
<script src="/assets/plugins/moment/moment.js"></script>
<script src="/assets/plugins/timepicker/bootstrap-timepicker.js"></script>
<script src="/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/plugins/clockpicker/js/bootstrap-clockpicker.min.js"></script>
<script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/assets/pages/jquery.form-pickers.init.js"></script>

<!-- Sweet-Alert  -->
<script src="/assets/plugins/sweet-alert2/sweetalert2.min.js"></script>
<script src="/assets/pages/jquery.sweet-alert.init.js"></script>

<!-- App js -->
<script src="/assets/js/jquery.core.js"></script>
<script src="/assets/js/jquery.app.js"></script>

<!-- jquery-validate -->
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/additional-validate-methods.min.js"></script>
<script src="/js/customValidate.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    var url = window.location.pathname.split( '/' )
    var segment = url[2];
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').DataTable();
        /* Buttons examples */
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
            buttons: ['excel', 'pdf'],
            order: [],
            aoColumnDefs: [{ "bSortable": false, "aTargets": [-1]}],
        });
        table.buttons().container()
        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    } );
</script>

<!-- Image Upload With Preview -->
<script>
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                var htmlPreview =
                    '<img width="200" src="' + e.target.result + '" />' +
                    '<p>' + input.files[0].name + '</p>';
                var wrapperZone = $(input).parent();
                var previewZone = $(input).parent().parent().find('.preview-zone');
                var boxZone = $(input).parent().parent().find('.preview-zone').find('.box').find('.box-body');

                wrapperZone.removeClass('dragover');
                previewZone.removeClass('hidden');
                boxZone.empty();
                boxZone.append(htmlPreview);
                $('.remove-preview').show();
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function reset(e) {
        e.wrap('<form>').closest('form').get(0).reset();
        e.unwrap();
    }

    $(".dropzone").change(function() {
        readFile(this);
    });

    $('.dropzone-wrapper').on('dragover', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).addClass('dragover');
    });

    $('.dropzone-wrapper').on('dragleave', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).removeClass('dragover');
    });

    $('.remove-preview').on('click', function() {
        var boxZone = $(this).parents('.preview-zone').find('.box-body');
        var previewZone = $(this).parents('.preview-zone');
        var dropzone = $(this).parents('.form-group').find('.dropzone');
        boxZone.empty();
        previewZone.addClass('hidden');
        reset(dropzone);
        $('.remove-preview').hide();
    });
</script>

<!-- Update Status -->
<script>
    $('.switchery').on('click', function(e) {
        e.preventDefault();
        var id = $( ".sa-status" ).attr('data-id');
        var value = $( ".sa-status" ).val();
        swal({
            title: 'Are you sure?',
            text: "You won't be able to update this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, update it!',
            cancelButtonText: 'No, cancel!',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger m-l-10',
            buttonsStyling: false
        }).then(function () {
            $('.status-value-'+id).val(value);
            $('#status-form-'+id).submit();
            swal(
                'Update!',
                'Status has been update.',
                'success'
            )
        }, function (dismiss) {
            if (dismiss === 'cancel') {
                swal(
                    'Cancelled',
                    'Your record is safe.',
                    'error'
                ).then(function () {
                    location.reload();
                });
            }
        })
    })
</script>

<!-- Country-State-City -->
<script>
if ($("#countryId").length > 0) {
    function ajaxCall() {
        this.send = function(data, url, method, success, type) {
            type = type||'json';
            var successRes = function(data) {
                success(data);
            }
            var errorRes = function(e) {
                console.log(e);
            }
            jQuery.ajax({
                url: url,
                type: method,
                data: data,
                success: successRes,
                error: errorRes,
                dataType: type,
                timeout: 60000
            });
        }
    }

    function locationInfo() {
        var rootUrl = "https://geodata.solutions/api/api.php";
        //now check for set values
        var addParams = '';
        if(jQuery("#gds_appid").length > 0) {
            addParams += '&appid=' + jQuery("#gds_appid").val();
        }
        if(jQuery("#gds_hash").length > 0) {
            addParams += '&hash=' + jQuery("#gds_hash").val();
        }
        var call = new ajaxCall();
        this.confCity = function(id) {
            var url = rootUrl+'?type=confCity&countryId='+ jQuery('#countryId option:selected').attr('countryid') +'&stateId=' + jQuery('#stateId option:selected').attr('stateid') + '&cityId=' + id;
            var method = "post";
            var data = {};
            call.send(data, url, method, function(data) {
            });
        };

        this.getCities = function(id) {
            jQuery(".cities option:gt(0)").remove();
            var stateClasses = jQuery('#cityId').attr('class');
            var cC = stateClasses.split(" ");
            cC.shift();
            var addClasses = '';
            if(cC.length > 0){
                acC = cC.join();
                addClasses = '&addClasses=' + encodeURIComponent(acC);
            }
            var url = rootUrl+'?type=getCities&countryId='+ jQuery('#countryId option:selected').attr('countryid') +'&stateId=' + id + addParams + addClasses;
            var method = "post";
            var data = {};
            jQuery('.cities').find("option:eq(0)").html("Please wait..");
            call.send(data, url, method, function(data) {
                jQuery('.cities').find("option:eq(0)").html("Select City");
                if(data.tp == 1){
                    var listlen = Object.keys(data['result']).length;
                    if(listlen > 0)
                    {
                        jQuery.each(data['result'], function(key, val) {

                            var option = jQuery('<option />');
                            option.attr('value', val).text(val);
                            jQuery('.cities').append(option);
                        });
                    } else{
                        var usestate = jQuery('#stateId option:selected').val();
                        var option = jQuery('<option />');
                        option.attr('value', usestate).text(usestate);
                        option.attr('selected', 'selected');
                        jQuery('.cities').append(option);
                    }
                    jQuery(".cities").prop("disabled",false);
                } else{
                    alert(data.msg);
                }
            });
        };

        this.getStates = function(id) {
            jQuery(".states option:gt(0)").remove();
            jQuery(".cities option:gt(0)").remove();
            //get additional fields
            var stateClasses = jQuery('#stateId').attr('class');
            var cC = stateClasses.split(" ");
            cC.shift();
            var addClasses = '';
            if(cC.length > 0){
                acC = cC.join();
                addClasses = '&addClasses=' + encodeURIComponent(acC);
            }
            var url = rootUrl+'?type=getStates&countryId=' + id + addParams  + addClasses;
            var method = "post";
            var data = {};
            jQuery('.states').find("option:eq(0)").html("Please wait..");
            call.send(data, url, method, function(data) {
                jQuery('.states').find("option:eq(0)").html("Select State");
                if(data.tp == 1){
                    jQuery.each(data['result'], function(key, val) {
                        var option = jQuery('<option />');
                        option.attr('value', val).text(val);
                        option.attr('stateid', key);
                        jQuery('.states').append(option);
                    });
                    jQuery(".states").prop("disabled",false);
                } else{
                    alert(data.msg);
                }
            });
        };

        this.getCountries = function() {
            //get additional fields
            var countryClasses = jQuery('#countryId').attr('class');
            var cC = countryClasses.split(" ");
            cC.shift();
            var addClasses = '';
            if(cC.length > 0){
                acC = cC.join();
                addClasses = '&addClasses=' + encodeURIComponent(acC);
            }
            var presel = false;
            var iip = 'N';
            jQuery.each(cC, function( index, value ) {
                if (value.match("^presel-")) {
                    presel = value.substring(7);
                }
                if(value.match("^presel-byi")){
                    var iip = 'Y';
                }
            });

            var url = rootUrl+'?type=getCountries' + addParams + addClasses;
            var method = "post";
            var data = {};
            jQuery('.countries').find("option:eq(0)").html("Please wait..");
            call.send(data, url, method, function(data) {
                jQuery('.countries').find("option:eq(0)").html("Select Country");
                if(data.tp == 1){
                    if(presel == 'byip'){
                        presel = data['presel'];
                    }
                    if(jQuery.inArray("group-continents",cC) > -1){
                        var $select = jQuery('.countries');
                        jQuery.each(data['result'], function(i, optgroups) {
                            var $optgroup = jQuery("<optgroup>", {label: i});
                            if(optgroups.length > 0){
                                $optgroup.appendTo($select);
                            }
                            jQuery.each(optgroups, function(groupName, options) {
                                var coption = jQuery('<option />');
                                coption.attr('value', options.name).text(options.name);
                                coption.attr('countryid', options.id);
                                if(presel) {
                                    if (presel.toUpperCase() == options.id) {
                                        coption.attr('selected', 'selected');
                                    }
                                }
                                coption.appendTo($optgroup);
                            });
                        });
                    } else{
                        jQuery.each(data['result'], function(key, val) {
                            var option = jQuery('<option />');
                            option.attr('value', val).text(val);
                            option.attr('countryid', key);
                            if(presel){
                                if(presel.toUpperCase() ==  key){
                                    option.attr('selected', 'selected');
                                }
                            }
                            jQuery('.countries').append(option);
                        });
                    }
                    if(presel){
                        jQuery('.countries').trigger('change');
                    }
                    jQuery(".countries").prop("disabled",false);
                } else{
                    alert(data.msg);
                }
            });
        };
    }
}

jQuery(function() {
    var loc = new locationInfo();
    loc.getCountries();
    jQuery(".countries").on("change", function(ev) {
        var countryId = jQuery("option:selected", this).attr('countryid');
        if(countryId != ''){
            loc.getStates(countryId);
        } else{
            jQuery(".states option:gt(0)").remove();
        }
    });
    jQuery(".states").on("change", function(ev) {
        var stateId = jQuery("option:selected", this).attr('stateid');
        if(stateId != ''){
            loc.getCities(stateId);
        } else{
            jQuery(".cities option:gt(0)").remove();
        }
    });
    jQuery(".cities").on("change", function(ev) {
        var cityId = jQuery("option:selected", this).val();
        if(cityId != ''){
            loc.confCity(cityId);
        }
    });
});
</script>



