label.error {
    color: #f96a74;
}
.select2 span:after label.error {
    position: absolute;
    color: #f96a74 !important;
}
.dragDrop .error {
    position: absolute;
    top: 150px;
    left: 0;
}

.dragDrop {
    width: auto;
}
.select2 + label, .filestyle.error + label  {
    position: absolute;
    top: 65px;
    display: block;
}
.select2 {
    margin-bottom: 1.2rem;
}

.dragDrop .box {
    position: relative;
    background: #ffffff;
    width: 100%;
}
.dragDrop .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
}
.dragDrop .dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
    background: #ecf0f5;
}
.dragDrop .dropzone-wrapper .fa-cloud-upload {
    font-size: 40px;
}
.dragDrop .dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}
.dragDrop .dropzone,
.dragDrop .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}
.dragDrop .dropzone-wrapper:hover,
.dragDrop .dropzone-wrapper.dragover {
    background: #ecf0f5;
}
.dragDrop .preview-zone {
    text-align: center;
}
.dragDrop .preview-zone .dragDrop .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}
.dragDrop .box .box-body p {
    margin: 0;
}

.dragDrop .bootstrap-filestyle {
    height: 100%;
}
.dragDrop .dropzone-wrapper span.group-span-filestyle {
    width: 100%;
}
.dragDrop .dropzone-wrapper span.group-span-filestyle .btn-default {
    width: 100%;
    height: 100%;
}
.dragDrop .dropzone-wrapper span.group-span-filestyle .btn-default .buttonText {
    position: relative;
    z-index: -1;
}

.dragDrop .dropzone-wrapper span.group-span-filestyle .btn-default .badge {
    position: relative;
    z-index: -1;
}
 
