<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title float-left">Admin</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">Admin</a></li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 m-b-30 header-title">Add Sub Admin</h4>
                    <form action="/admin/users/sub_admin/store" method="post" enctype="multipart/form-data" id="subAdminForm">

                        <%- include('form') %>

                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>


