<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title float-left">Users</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 m-b-30 header-title">Add User</h4>
                    <form role="form">
                        <div class="form-group row">
                            <div class="col-6">
                                <label for="exampleInputFirstName">First Name</label>
                                <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name">
                            </div>
                            <div class="col-6">
                                <label for="exampleInputLastName">Last Name</label>
                                <input type="text" class="form-control" id="exampleInputLastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="col-4">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="col-4">
                                <label for="exampleInputPassword1">Confirm Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label for="exampleInputPhone">Mobile</label>
                                <input type="text" class="form-control" id="exampleInputPhone" placeholder="Mobile">
                            </div>
                            <div class="col-4">
                                <label for="exampleInputGender">Gender</label>
                                <select class="form-control">
                                    <option value="">Select</option>
                                    <option value="0">Male</option>
                                    <option value="1">Female</option>
                                    <option value="2">Other</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="exampleInputDOB">Date of Birth</label>
                                <input type="text" class="form-control" id="exampleInputDOB" placeholder="Date of Birth">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label for="exampleInputCountry">Country</label>
                                <select class="form-control">
                                    <option value="">Select</option>
                                    <option>India</option>
                                    <option>Nepal</option>
                                    <option>America</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="exampleInputState">State</label>
                                <select class="form-control">
                                    <option value="">Select</option>
                                    <option>Delhi</option>
                                    <option>Punjab</option>
                                    <option>Haryana</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="exampleInputCity">City</label>
                                <select class="form-control">
                                    <option value="">Select</option>
                                    <option>Mohali</option>
                                    <option>SAS Nagar</option>
                                    <option>Suhana</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-9">
                                <label for="exampleInputAddress">Address</label>
                                <input type="text" class="form-control" id="exampleInputAddress" placeholder="Address">
                            </div>
                            <div class="col-3">
                                <label for="exampleInputZipcode">Pin Code</label>
                                <input type="text" class="form-control" id="exampleInputZipcode" placeholder="Pin Code">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="exampleInputLandmark">Landmark</label>
                                <input type="text" class="form-control" id="exampleInputLandmark" placeholder="Landmark">
                            </div>
                        </div>
                        <div class="form-group row dragDrop">
                            <div class="col-12">
                                <label for="exampleInputImage">Image</label>
                                <div class="row m-0">
                                    <div class="dropzone-wrapper col-8">
                                        <div class="dropzone-desc">
                                        <i class="fa fa-cloud-upload"></i>
                                        <p>Choose an image file or drag it here.</p>
                                        </div>
                                        <input type="file" name="img_logo" class="dropzone">
                                    </div>
                                    <div class="preview-zone hidden col-4">
                                        <div class="box box-solid relative">
                                            <div class="asdIcon position-absolute" style="right: 0;">
                                                <button style="display: none;" type="button" class="btn btn-danger btn-xs remove-preview">
                                                    <i class="fa fa-times"></i> Remove
                                                </button>
                                            </div>
                                        <div class="box-body"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <label for="exampleInputLandmark">Status</label>
                                <input type="checkbox" checked data-plugin="switchery" data-color="#1bb99a"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-custom waves-effect waves-light">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>


