<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title float-left">Users</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 m-b-30 header-title">Edit User</h4>
                    <form role="form" action="/admin/users/users/update/<%= user.id %>" method="post" enctype="multipart/form-data" class="manageUserForm" id="editUserForm">

                        <%- include('form') %>
                        
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>


